.main{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main .cards{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;
}
.main .heading{
    font-size: 3.5rem;
    color: red;
    background-color: aquamarine;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    opacity: 0.9;
    border-top-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;
    border: 2px solid black;
    animation: heading 4s linear infinite;
}
@keyframes heading {
    0%{
        transform: translateX(-3rem);
        color: red;
    }
    50%{
        transform: translateX(3rem);
        color: yellow;
    }
    100%{
        transform: translateX(-3rem);
        color: blue;
    }
}
